CUDA_DEVICE_ORDER=PCI_BUS_ID
CUDA_VISIBLE_DEVICES=GPU-08c21842-c266-7f7d-6e5d-d494d4c20c4f
H3_LISTEN=127.0.0.1
H3_PORT=8189
H3_INPUT_DIR=/mnt/ivan-ext4-offload/h3-fleet/lanes/main/input
H3_OUTPUT_DIR=/mnt/ivan-ext4-offload/h3-fleet/lanes/main/output
H3_TEMP_DIR=/mnt/ivan-ext4-offload/h3-fleet/lanes/main/temp
H3_USER_DIR=/mnt/ivan-ext4-offload/h3-fleet/lanes/main/user
H3_DATABASE_URL=sqlite:////mnt/ivan-ext4-offload/h3-fleet/lanes/main/user/comfyui.db
